<h1 class="page-title">Assigned Licenses for <%= @account.name %></h1>

<p>
  <%= link_to "Back to Account", account_path(@account) %>
</p>

<% if @assignments.any? %>
  <table class="table-list">
    <thead>
      <tr>
        <th>User</th>
        <th>Product</th>
      </tr>
    </thead>
    <tbody>
      <% @assignments.each do |user_name, assignments_for_user| %>
        <% group_size = assignments_for_user.size %>
        <% assignments_for_user.each_with_index do |assignment, idx| %>
          <tr>
            <% if idx.zero? %>
              <td class="user-cell" rowspan="<%= group_size %>"><%= user_name %></td>
            <% end %>
            <td><%= assignment.product.name %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>No licenses assigned yet.</p>
<% end %>

<style>
  .table-list .user-cell {
    font-weight: 600;
    background: #f6f8fa;
    border-top: 2px solid #ddd;
    vertical-align: top;
  }
</style>


