<h1 class="page-title">Assigned Licenses for <%= @account.name %></h1>

<p>
  <%= link_to "Back to Account", account_path(@account) %>
</p>

<% if @assignments.any? %>
  <%  @assignments.each do |product_name, assignments_for_product| %>
    <h2><%= product_name %></h2>
    <table class="table-list" style="margin-bottom:16px;">
      <thead>
        <tr>
          <th>User</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        <% assignments_for_product.each do |assignment| %>
          <tr>
            <td><%= assignment.user.name %></td>
            <td><%= assignment.user.email %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
<% else %>
  <p>No licenses assigned yet.</p>
<% end %>


