<%= form_with model: [@account, user] do |form| %>
  <% if user.errors.any? %>
    <div>
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name, autofocus: true, style: "width:100%; padding:8px; font-size:16px;" %>
  </div>

  <div>
    <%= form.label :email %><br>
    <%= form.email_field :email, style: "width:100%; padding:8px; font-size:16px;" %>
  </div>

  <div>
    <%= form.submit "Create User" %>
  </div>
<% end %>


