<%= form_with model: product do |form| %>
  <% if product.errors.any? %>
    <div>
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>
      <ul>
        <% product.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name, autofocus: true %>
  </div>

  <div>
    <%= form.label :description %><br>
    <%= form.text_area :description, rows: 4 %>
  </div>

  <div>
    <%= form.submit "Create Product" %>
  </div>
<% end %>


